@media screen and (min-width: 768px){

    .menu-icone{
        display: none;
    }

    .mais{
        font-size: 1.5em;
    }

    .autor{
        font-size: 1.5em;
    }

    .footer-form label {
        font-size: 1.2em;
    }
}   

